@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
table {
  border-spacing: 0;
  width: 100%;
  background: #fdfbff;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 5px 5px 0px 0px;
  font-family: "Lexend";
  font-style: normal;
  table-layout: fixed;
}
th {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5a5a5a;
}
td {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
th,
td {
  text-align: center;
  margin: 0;
  padding: 22px 0.5em;
  border-bottom: 1px solid #d9d9d9;
  word-wrap: break-word;
}
td:nth-child(2),
th:nth-child(2) {
  padding-right: 15px;
  text-align: left;
}

td:nth-child(3),
td:nth-child(4),
td:nth-child(5) {
  font-weight: 300;
}

th:last-child,
td:last-child {
  padding-right: 15px;
}
.col1 {
  width: 40px;
}
.col2 {
  width: 25%;
}
.col3 {
  width: 25%;
}
.col4 {
  width: 25%;
}
.col5 {
  width: auto;
}

.sub-row {
  background: #d9dddf;
}
.sub-row-data {
  width: 100%;
}
.sub-row-cards-container {
  padding: 0 2px;
  margin: -11px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  align-items: flex-start;
}
.sub-row-card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 11px 23px;
  width: 320px;
}
.sub-row-card-title {
  margin-bottom: 22px;
  text-align: left;
}
.sub-row-card-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #e6e6e6;
}
.sub-row-card-item-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.sub-row-card-item-value {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.sub-row-card-promoter-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  text-align: left;
  border-bottom: 1px solid #e6e6e6;
}
.sub-row-card-promoter-item:last-child {
  border-bottom: 0;
}
.sub-row-card-promoter-item > div {
  margin: 15px 0;
}

.sub-row-card-key-person {
  text-align: left;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
